body {
	font-family: 'Harmattan', sans-serif;
	text-align: center;
}

table {
	margin: 40px auto;
	border-collapse: collapse;
}

tr {
	margin: 0px;
    padding: 0px;
}

td {
	background-color: white;
	margin: 0px;
    padding: 0px;
    width: 125px;
    height: 125px;
    border: 1px solid black;
    cursor: pointer;
    font-size: 3em;
}

.playerAlert {
	width: 625px;
	height: 100px;
	margin: auto;
	border: 1px solid black;
	font-weight: bolder;
	font-size: 3em;
}

.exes {
	color: blue;
}

.oohs {
	color: green;
}